.heroWrap2 {
  height: 400px; 
}
.sliderText {
  height: 400px !important; 
}
.breadcrumbs {
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 20px;
  z-index: 99;
  font-weight: 400;
  letter-spacing: 4px; 
}
.breadcrumbs span {
  color: rgba(0, 0, 0, 0.7); 
}
.breadcrumbs span a {
  color: #000; 
}
.bread {
  font-size: 40px;
  color: #000;
  line-height: 1.2;
  font-weight: 200; 
}

@media (max-width: 991.98px) {
  .bread {
    font-size: 30px;
    letter-spacing: 10px; 
  } 
}