.gallery {
  display: block;
  height: 270px;
  position: relative; 
}
.icon {
  width: 60px;
  height: 60px;
  margin: 0 auto;
  z-index: 0;
  opacity: 0;
  position: relative;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -webkit-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
  background: #d9bf77;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%; 
}
.icon span {
  color: #fff; 
}
.gallery:hover .icon, 
.gallery:focus .icon {
  opacity: 1; 
}