.icon {
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
  width: 100%; 
}
.icon span {
  font-size: 80px;
  line-height: 1.2;
  color: #d9bf77; 
}

.icon::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  content: '';
  max-width: 500px;
  height: 2px;
  background: #d9bf77;
  margin: 0 auto;
}

.btnPrimary {
  text-transform: uppercase; 
  border: 1px solid rgba(255, 255, 255, 0.4); 
}

.ftcoAnimate {
  opacity: 1 !important;
  visibility: visible !important;
  animation: slide-up-fade-in 1s ease-out forwards;
}
@keyframes slide-up-fade-in {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 767.98px) {
  .btnPrimary {
    width: 100%;
    margin-bottom: 10px; 
  } 
}

@media (min-width: 768px) {
  .mrMd2 {
    margin-right: 0.5rem !important; 
  }
}
