.pb1 {
  padding-bottom: 0.25rem !important; 
}
.testimonySection {
  position: relative; 
}
.testimonyWrap {
  display: block;
  position: relative;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.8);
  min-height: 280px;
}
.userImg {
  width: 110px;
  height: 110px;
  border-radius: 50%;
  position: relative;
  flex-shrink: 0;
}
.name {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 0;
  color: #000; 
}
.position {
  font-size: 13px;
  color: #6c757d;
}
.line {
  position: relative;
  border-left: 1px solid #e6e6e6;
  padding-left: 3rem !important;
  min-height: 100px;
}
.quote {
  position: absolute;
  top: 50%;
  left: -20px;
  width: 40px;
  height: 40px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  background: #d9bf77;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
.quote i {
  color: #fff;
  font-size: 18px;
}
.userInfo {
  margin-left: 1.5rem;
}
.testimonialText {
  position: relative;
  z-index: 0;
}
